main {
  /* increase this to match the number of sections you want */
  width: 300vw;
  display: flex;
}
.vertical-page main {
  flex-direction: column;
}

.one,
.two,
.three {
  width: 100vw;
  height: 100vh;
}

.one {
  background-color: tomato;
}
.two {
  background-color: thistle;
}

.three {
  background-color: rgb(104, 80, 104);
}
